
$color-primary:rgb(255,171,115)


body{
	background: rgb(255,171,115);
}

.titrePrincipal {
	text-align: center;
	color: #fff;
	font-size: 30px;
}

.difficulté ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}

.difficulté {
	left: 0px;
	margin: 0px;
	padding: 0px;
	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		li{
			padding: 10px;
		}
	}
}
